::placeholder{
  color:#009999
}
body{
  overflow-x:hidden;
}

.a {
  height: 40px;
  width: 40px;
}

.header {
  padding: 0.5em 1em;
}

.navbar-part {
  float: left;
}

.image-top h1 {
  font-size: 1.5em;
  display: inline-block;
}

.image-top img {
  max-width: 55px;
  float: left;
}

.navbar {
  float: right;
  margin-left: 885px;
}

.navbar ul,
li {
  margin: 0;
  padding: 0;
}

.navbar li {
  display: inline-block;
  margin: 5px;
  padding: 10px;
}

.header {
  background: #fff;
  color: #000;
}

.image-top h1 {
  color: #3399cc;
  font-family: sans-serif;
}

.image-top img {
  height: 30px;
  width: 30px;
}

.image-top {
  display: inline-block;
}

.image-top img {
  margin-top: 12px;
}

.nav-link {
  font-size: 1.2rem;
  margin: 5px;
}

h1 {
  display: inline-block;
}

.navbar a {
  color: rgb(153, 153, 153);
}

.header img {
  margin: 10px;
}

.navbar-part {
  display: inline-block;
}

.navbar-part {
  width: 100%;
  height: 35px;
}
.navbar li {
  display: inline-block;
  list-style: none;
  height: 60px;
}

ul {
  list-style-type: none;
}

.navbar li:hover {
  color: #009999;
}

.nav-link {
  text-decoration: none;
}

.navbar a {
  display: inline-block;
}

.navbar-part {
  display: inline-flex;
}

.header a {
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  cursor: pointer;
}

.header a:visited {
  border-color: rgb(51, 204, 255);
}

ul li {
  list-style: none;
  margin-left: 1.2rem;
  font-size: 1.3rem;
}

.header a:hover {
  color: #117964;
}

img {
  height: 40px;
  width: 40px;
}

ul {
  list-style-type: none;
  display: inline-flex;
  margin-left: 65%;
}

li {
  float: left;
}

li a {
  display: block;
}

a {
  font-family: sans-serif;
  font-size: 18px;
  align-items: center;
  display: inline-flex;
}

* {
  box-sizing: border-box;
}
form.example input[type=text] {
  padding: 10px;
  font-size: 17px;
  border: 1px solid grey;
  float: left;
  background: #f1f1f1;
  margin-left: 520px;
  color: rgb(0, 153, 153) !important;
  background-position: center;
}
form.example button {
  float: left;
  width: 70px;
  height: 42px;
  padding: 10px;
  background: rgb(0, 153, 153);
  color: white;
  font-size: 17px;
  border: 1px solid grey;
  border-left: none;
  cursor: pointer;
  position: absolute;
  justify-content: center;
}

form.example button:hover {
  background: darkgreen;
}
form.example::after {
  content: "";
  clear: both;
  display: table;
}
video {
  display: flex;
  margin-bottom: 50px;
}
.video-layer{
  position: relative;
}
.a1 {
  border: 1px solid transparent;
  color: #666666;
}
 .container-form{
  position: absolute;
  top:50%;
  left:30;
}
.container-form input{
  width: 360px;
  padding: 12px 15px;
}
.container{
  display: inline-flex;
  width: 100%;
  height: 100%;
  margin-left: 25px;
}

.container .oct {
  display: inline-block;
  width: 30%;
  justify-content: space-around;
}
.container .sep {
  display: inline-block;
  width: 30%;
  justify-content: space-around;
}
span {
  color: #999;
  float: right;
  margin-right: 45px;
}
.text-gray {
  color: #999;
  float: left;
}
h2 {
  color: #009999;
  font-family: sans-serif;
}
.header {
  display: flex;
  justify-content: space-between;
}
.horizontal {
  height: 160px;
  width: 320px;
}

.image {
  float: left;
  padding: 10px;
  height: 120px;
  width: 300px;
  margin: 10px;
  padding: 10px;
  column-gap: 10px;
}

image:hover {
  border: 2px solid white;
}

.pagination-part button {
  background-color: #009999;
  color: #ffffff;
  height: 40px;
  width: 120px;
  border-radius: 3px;
  margin-top: 120px;
  cursor: not-allowed;
}

.pagination button {
  color: white;
  margin: 12px;
  padding: 12px;
  border-radius: 3px;
  width: 60px;
  height: 60px;
}

.pagination a {
  text-decoration: none;
}

.pagination button:hover {
  background-color: #117964;
  cursor: pointer;
}

.pagination {
  margin-left: 580px;
  margin-bottom: 120px;
}
.pagination .active{
  background-color: #009999;
}

.pagination-next button {
  background-color: #009999;
  color: #ffffff;
  height: 40px;
  width: 120px;
  border-radius: 3px;
  margin-left: 1390px;
  margin-right: 15px;

}

.pagination-next button:hover {
  background-color: rgb(0, 153, 153);
  cursor: pointer;
}

div h3 {
  color: rgb(0, 153, 153);
  font-family: sans-serif;
}

.footer-distributed {
  background-color: #666665;
  box-sizing: border-box;
  width: 100%;
  text-align: left;
  font: bold 16px sans-serif;
  padding: 55px 50px;
  display: inline-flex;
}

.footer-distributed .about,
.footer-distributed .link,
.footer-distributed .logo {
  vertical-align: top;
  display: inline-block;
}

.footer-distributed .about {
  margin-left: 180px;

}

.footer-distributed .link a {
  color: rgb(153, 153, 153);
  margin-left: 200px;
}

.footer-distributed .link h3 {
  margin-left: 225px;
}

.footer-distributed .logo {
  margin-left: 280px;
}

.link h3 {
  color: rgb(0, 153, 153);
  font-family: sans-serif;
  margin-left: 10px;
}

.about p {
  color: rgb(153, 153, 153);
  line-height: 1.8;
}

.link {
  height: 300px;
  width: 300px;
}

.link a {
  margin: 5px;
  padding: 5px;
  display: block;
  color: rgb(153, 153, 153);
}

.about {
  height: 300px;
  width: 300px;
}

.logo {
  display: inline-block;
  justify-content: space-between;
  margin: 10px;
  padding: 10px;
  height: 250px;
  width: 300px;
  margin-bottom: 50px;
}

.logo img:hover {
  color: rgb(0, 153, 153)
}

.footer-distributed {
  width: 100%;
  display: inline-flex;
}

.footer-distributed .about,
.footer-distributed .link,
.footer-distributed .logo {
  width: 33%;
  display: inline-block;
}

.footer-distributed .logo a {
  display: inline-block;
  cursor: pointer;
  border-radius: 2px;
  font-size: 20px;
  text-align: center;
  line-height: 35px;
  align-items: center;
  border: 1px solid white;
  background-color: white;

}

.footer-distributed .logo img {
  background-color: #666666;
  align-items: center;
  justify-content: center;
  margin-top: 10px;
}

.footer-distributed .logo img:hover {
  background-color: #666666;
  align-items: center;
  justify-content: center;
  margin-top: 10px;
  background-color: #009999;
}

.footer-distributed .logo a:hover {
  background-color: #009999;
}